# Server
SERVER_ADDR=:8080

# AWS
AWS_PROFILE=your-aws-profile
AWS_REGION=us-west-2
S3_BUCKET_NAME=your-s3-bucket-name

# Local PostgreSQL
DATABASE_URL=postgres://feedback_app:feedback_app_password@localhost:5432/feedback_attachments?sslmode=disable